:root {
    --accent-color: #2196f3;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-text-color: #fff;
    --white-opacity-text-color: rgba(255, 255, 255, 0.6);
    --primary-background-color: #fff;
    --secondary-background-color: #f5f4fa;
    --dark-background-color: #2f303a;
    --logo-color: #000;
    --border-color: #ececec;
    --border-card-color: #eee;
    --card-set-gap: 30px;
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --card-shadow-portfolio: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--secondary-text-color);
    line-height: 1.7;
    letter-spacing: 0.03em;
    background-color: var(--primary-background-color);
}

/*container*/
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid var(--border-color);
}

.page-header {
    border-bottom: 1px solid var(--border-color);
}

/*main-nav*/
.main-nav,
.navigation {
    display: flex;
    align-items: center;
}

/*logo*/
.logo-nav {
    display: block;

    color: var(--logo-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: var(--accent-color);
}

/*navigation*/

.nav-list {
    display: flex;
    margin-left: 93px;
}

.nav-list .nav-item+.nav-item {
    margin-left: 50px;
}

/*або
.nav-item {
  margin-right: 8px;
}
або
.nav-list .nav-item:not(:last-child) {
  margin-right: 0;
}*/

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    line-height: 1.14;
    font-weight: 500;
    color: var(--primary-text-color);
}

.nav-link .current {
    color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

/*Link to e-mail address phone number*/
.contact {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 0;

    font-weight: 500;
    line-height: 1.14;
}

.contact-item {
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.contact .link {
    color: var(--secondary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}

.contact-item::before {
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    outline: 1px solid #212121;
}

.mail::before {
    width: 16px;
    height: 12px;
    background-image: url("../images/header/envelope.svg");
}

.phone::before {
    width: 12px;
    height: 10px;
    background-image: url("../images/header/smartphone.svg");
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
}

.contact-item+.contact-item {
    margin-left: 50px;
}

/*main*/

/*hero*/
.hero {
    text-align: center;
    background: var(--dark-background-color) padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

.button {
    border: none;
    padding: 10px 32px;
    min-width: 216px;
    border-radius: 4px;

    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    font-weight: 700;
    background-color: var(--accent-color);
    box-shadow: box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    ;
}


.button:hover,
.button:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*overlay*/
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid var(--logo-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4); ),
        url(../images/hero/slider-1-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*Наші переваги*/

.section,
.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-work {
    padding-bottom: 94px;
}

.title-hidden {
    display: none;
}

.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-left: calc(-1 * var(--card-set-gap));
    text-align: center;
}

.list,
.list-sec {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.list-sec {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.list,
.team-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}


.item-sec,
.team-card {
    width: calc((100% - 90px)/4);
    margin-left: 30px;
}

.work-card {
    width: calc((100% - 60px)/3);
    ;
    margin-left: 30px;
}

.list-sec .item-sec:nth-child(1) {
    margin-left: 0px;
}

.list .work-card:nth-child(1) {
    margin-left: 0px;
}

.team-list .team-card:nth-child(1) {
    margin-left: 0px;
}

.item-sec::before {
    display: flex;
    content: "";
    height: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;

}

.icon-antenn::before {
    background-image: url("../images/переваги/antenna\ 1.svg");
}

.icon-clock::before {
    background-image: url("../images/переваги/clock\ 1.svg");
}

.icon-diagram::before {
    background-image: url("../images/переваги/diagram\ 1.svg");
}

.icon-astr::before {
    background-image: url("../images/переваги/astronaut\ 1.svg");
}

.title {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.list-item {
    margin-top: 10px;
    margin-bottom: 0;
}


.team-card {
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-background-color);
}

.section-team {
    background-color: var(--secondary-background-color);
    margin-top: 0;
    margin-bottom: 0;
}



.team-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.descr {

    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list .title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}

.team-position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--secondary-text-color);
    margin-top: 0;
    margin-bottom: 0;
}

.link {
    display: inline-block;
    height: ;
    width: ;
    background-image: url("");
    background-position: center;
    background-repeat: no-repeat;
    background-size: ;
    border-radius: 50%;
}

.social-net {
    display: flex;
    align-items: center;
    justify-content: center;

}

/*Portfolio*/

.section-btn {
    padding-top: 74px;
    padding-bottom: 114px;
    margin-right: auto;
    margin-left: auto;
}

/*div для кнопок*/

.prtf {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.prtf .prtf-button+.prtf-button {
    margin-left: 8px;
}

.prtf-button {
    font-family: inherit;
    font-size: 16px;
    color: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 1.612;
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 25px;

}

.prtf-button:hover,
.prtf-button:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: var(--card-shadow-portfolio);
}

/*works*/

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.item-card {
    margin-left: 30px;
    margin-bottom: 30px;
}

.item-card:nth-child(3n + 1) {
    margin-left: 0;
}

.item-card:nth-child(n + 7) {
    margin-bottom: 0;
}

.card-content {
    padding: 20px 24px;
    border: 1px solid var(--border-card-color);
    border-top: none;
}

.work-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    font-weight: 700;
    color: var(--primary-text-color);
    margin-top: 0;
    margin-bottom: 4px;
}

.work-desc {
    margin: 0;
    font-style: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(---secondary-text-color);
}

/* Footer */
.footer {
    background-color: var(--dark-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.logo-footer {
    color: var(--white-text-color);
}

.address {
    font-style: normal;
}

.address-list {
    margin-top: 0;
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link {
    color: var(--white-text-color);
}

.address-link[href^='mailto'],
.address-link[href^='tel'] {
    color: var(--white-opacity-text-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}